html, body {
    color: #fb5f;
    font-family: Montserrat,arial;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.contenedor{
    color: #000;
    width: 100%;
    height:100vh;
    display: flex;
    position: relative;
    
}
.menu{
    width: 20vw;
    height: 100%;
    display: flex;
    justify-content: space-evenly; /* Distribuir los elementos verticalmente */
    border-right: 2px solid #fff;
    flex-flow: column wrap;
    overflow-x: hidden;
    background: #000;
    flex-grow: 1;
    
    
}
.lista_menu{
    display: flex;
    flex-flow: column  wrap;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.element {
    height: 23vh;
    margin: 0;
    border-bottom: 2px solid #d7e9f1;
    display: flex; 
    justify-content: center; 
    align-items:center; 
    text-align: center;
    }

.links {
    text-decoration: none;
    color: #eb5f;
    font-weight: bold;
    font-size: 2vw;
    transition: color 0.4s;
    margin: 0; 
    }
.links:hover{
    color: #d7e9f1;
}

.contenido {
    max-width: 78vw;
    max-height: 100vh;
    overflow-y: auto;
    background: url(https://i.pinimg.com/736x/48/78/cc/4878cca21b9483154164809816e29eff.jpg) center/cover no-repeat;
    flex-grow: 2;
}

.contenido div h2{
    margin:2vh ;
    font-size: 3vh;
    color:rgb(230, 135, 10)  
}

.contenido div p {
    font-size: 2.3vh; 
    color: #eeef; 
    padding: 2vw; 
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    text-align: justify;
}
.historia{
    display: flex;
    flex-direction: column;
}

.img_desorden, .el_diario {
    width: 65vw;
    margin: auto;
    max-width: 100%; 
}
.desorden,.diar{
    width: 100%;
    margin: auto;
    border-radius: 30%;
}

.entrevista_el_diario{
    text-decoration: none;
    color: #04c7f8;
    transition: color 0.6s;
}
.entrevista_el_diario:hover{
    color: #f51
}

.hf{
    border: none;
}

@media (max-width: 870px) {
    .contenedor{
        display: flex;
        flex-direction: column;
    }
    .menu{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-evenly; 
    flex-flow: row nowrap;
    overflow-x: hidden;
    position: sticky;
    border-bottom:1px solid #fff ;
    overflow-y: hidden;
    }
    .lista_menu{
        display: flex;
        flex-flow: row nowrap;
        width: 100%;
        
    }
    .element{
        height: 100%;
        border-right: 2px solid #fff;
        flex-grow: 1;
        
    }
    .element a{
        font-size: 1.5vh;
    }
    .contenido{
        max-width: 100%;
        max-height: 100vh;
        flex-grow: 1;
        font-size: 4vw; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
        padding: 1vw; /* Reduce el espaciado en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .contenido div p {
      font-size: 5vw; /* Ajusta aún más para pantallas muy pequeñas */
    }
}

.final {
    background: #000; 
    align-items: center; 
    font-weight: bold;
    color: #fff;
    border-top: 2px solid #fff;
    padding: 0;
}


.logo {
    width: 25%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 100%;
    opacity: 0.8; 
    border-radius: 10px;
    box-shadow: 0px 0px 0px 5px rgba(241, 234, 234, 0.3); 
    transition: 0.4s;
}
.log_fundacion{
    width: 100%;
}
.final p{
    text-align: center;
}
.final img:hover{
    background: white;
    justify-content: center;
    position: relative;
    z-index: 1;
    opacity: 0.8;
    
}
.info_final {
    width: 100vw;
    height: 50%;
    text-align: center;
    justify-content: center;
    display: flex;
    border-top: 2px solid #fb54;
    padding: 0; 
}


a{
    text-decoration: none;
    
}
a h1{
    display: flex;
    flex-grow: 1;
    margin-left: 2vh;
    font-size: 5vw;
    color: #fb5f;
    text-decoration: underline;
    text-shadow: 5px 5px 8px #aaa, -5px -5px 8px #555;
    transition: opacity 0.4s, background-color 0.3s;
    
}
a h1:hover{
    opacity: 0.5;
    background-color: #0000;
}
.contac, .correo, .redes {
    content: center;
    flex-grow: 1; 
    width: 30%; 
    max-width: 100%;
    word-wrap: break-word;
    text-align: center;
    margin-bottom: 2vh; /* Espacio entre los elementos */
    align-items: center;
    margin-top: 3vh;
    font-size: 1.5vh;
}
.contac h2,.correo h2{
    font-size: 2.2vh;
}
.redes h2{
    color: white;
    margin: 0;
    font-size: 2vh;
}

.redes p {
    margin: 0;
}

.redes a {
    display: inline-block;
    width: 5vw;
    margin: 1vh;
    max-width: 100%;
}
.youtube, .fb, .instagram, .tiktok {
    border-radius: 50%;
    width: 100%;
    border: 2px solid transparent;
    max-width: 100%; 
}
.img_redes:hover {
    background: #fff;
}
h2{
    margin-top: 0;
    font-size: 3vw;
}
h3{
    margin:1em ;
    font-size: 4vh;
    color:rgb(215, 230, 10) 
}

p{
    color: #fb5f;
}
strong{
    font-weight: bold;
    color: #04c7f8;
    font-size: 1.2em;
}
span{
    font-weight: bold;
    color: #0aa8ec;
}
@media (max-width: 870px) {
    .final {
      flex-direction: column; /* Apila los elementos verticalmente */
      align-items: center; /* Centra los elementos horizontalmente */
      text-align: center; /* Centra el texto */
    }
}

@media (max-width: 400px) {
    .final {
      flex-direction: column; /* Apila los elementos verticalmente */
      align-items: center; /* Centra los elementos horizontalmente */
      text-align: center; /* Centra el texto */
    }
}
@media (max-width: 870px) {
    .final p {
      font-size: 3vw; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
      margin: 1vw; /* Reduce el espaciado en pantallas más pequeñas */
    }
    .contac, .correo, .redes {
        width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
        margin-bottom: 1vh; /* Agrega un poco de espacio entre los elementos */
    }
    a h1{
        font-size: 6vw;
        
    }

}
@media (max-width: 400px) {
    .final p {
        font-size: 3vw; /* Ajusta el tamaño de fuente para pantallas más pequeñas */
        margin: 1vw; /* Reduce el espaciado en pantallas más pequeñas */
    }
    .contac, .correo, .redes {
          width: 100%; /* Ocupa todo el ancho en pantallas pequeñas */
          margin-bottom: 1vh; /* Agrega un poco de espacio entre los elementos */
    }
    a h1{
        font-size: 6vw;
    }  
}


